body {
    margin: 0 0 0 0;
}
.container {
    display: flex;
    justify-content: center;
    height: 100vh;
}
.post-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    height: 700px;
    width: 1000px;
    background-color: #E0E0E0;
}
.post-title {
    background-color: #FDFDFD;
    margin: 10px 20px;
    padding: 10px 0;
}
.post-title h1 {
    margin: 15px 0;
    font-weight: normal;
    padding: 0 10px;
}

.post-header {
    position: fixed;
}
@media only screen and (max-width: 1000px) {
    .post-container {
        width: 100vw;
    }
}
