body {
    margin: 0 0 0 0;
}
.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #EAEAEA;
}
.post-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 700px;
    width: 1000px;
    background-color: #EEEEEE;
}
.post-container, .input, body, textarea {
    font-family: sans-serif;
}
.post-title {
    background-color: #FDFDFD;
    margin: 10px 20px 0 20px;
    padding: 10px 0;
}
.post-title h1 {
    margin: 15px 0;
    font-weight: normal;
    padding: 0 10px;
}
@media only screen and (max-width: 1000px) {
    .post-container {
        width: 100vw;
    }
}

/* comment list section */

.comment-section {
    overflow-y: scroll;
    background-color: #dfdfdf;
    width: 100%;
    max-width: 960px;
    height: 464px;
    margin: auto;
    margin-top: 0px;
}
.comment-section .comment-item {
    background-color: #fcfcfc;
    width: 95%;
    min-height: 90px;
    margin: auto;
    margin: 25px auto;
    display: flex;
}
.comment-section .comment-item .icon {
    height: 60px;
    margin: auto;
    margin-left: 20px;
    margin-right: 0;
    text-align: center;
}
.comment-section .comment-item-main {
    display: flex;
    flex-direction: column;
    flex-grow: 6;
    height: 30px;
}
.comment-section .comment-item-main .top-row {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
}
.top-row .right-buttons {
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}
.top-row .right-buttons div, .top-row .display-name {
    margin: 0 10px;
}
.bottom-row {
    font-size: 20px;
    margin: 5px 10px;
}
@media only screen and (max-width: 700px) {
    .comment-section {
        height: 432px;
    }
}
@media only screen and (max-width: 430px) {
    .comment-section {
        height:364px;
    }
}

/* bottom create comment section*/
s
.create-comment-container {
    min-height: 102px;
    position: fixed;
    bottom: 0%;
    width: 100%;
}
.create-comment-form {
    min-height: 102px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.input-item {
    padding: 10px;
}
.input-item .input {
    height: 30px;
    width: 100%;
    border: none;
}
.input-item.second {
    flex-grow: 3;
}
.button {
    background: none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    box-shadow: none;
    color: #00b3b3;
}
.button:hover {
    color: rgb(12, 46, 141);
}
.button.cancel {
    color: #aaaaaa;
}
